.navbar.navbar-dark.bg-dark {
  background-color: var(--cacao) !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: var(--crema-clara);
}
body {
  padding-top: 4rem;
}
