.navbar.navbar-dark.bg-dark { background-color: var(--cacao) !important; }
.navbar-dark .navbar-nav .nav-link { color: rgba(255,255,255,.9); }
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus { color: var(--crema); }
body { padding-top: 4rem; }


.navbar .text-light small strong{font-weight:600}
.navbar .btn.rounded-pill{border-radius:999px}
